<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <title>Messages</title>
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1.1.5/dist/sockjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/stomp-websocket-js@1.0.0/lib/stomp.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <div class="messages">
            <div class="message" v-for="msg in messages">
                {{msg}}
            </div>
        </div>
        <div class="input">
            <input type="text" v-model="message" @keyup.enter="send" >
            <button @click="send">Send</button>
        </div>
    </div>
    <script src="js/main.js"></script>
</body>
</html>